@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.container {width: 1280px;margin: 0 auto;}
.flex {display: flex; align-items: center;}
.flex .center {justify-content: center;}
.border-btn{border: 1px solid #222;background-color: #fff;color: #222;text-align: center;}
.black-btn{border: 1px solid #222;background-color: #222;color: #fff;text-align: center;font-weight: 700;}

/* section */
#section {padding-top: 128px; align-items: flex-start;}

.cart-title{margin: 48px auto 56px auto;}
.cart-title h1{font-size: 32px;text-align: center;}

.cart-tab .tab-btn{justify-content: space-between;width: 100%;}
.cart-tab .tab-btn li{display: block;border: 1px solid #949494;border-bottom: 2px solid #222;width: 50%;}
.cart-tab .tab-btn li a{display: block;width: 100%;height: 70px;line-height: 70px;text-align: center;color: #949494;font-size: 16px;}
.cart-tab .tab-btn li a.on{background-color: #222;color: #fff;font-weight: 700;}

.cart-table form table{width: 100%;}
.cart-table form table thead tr th{border-bottom: 1px solid #eee;font-size: 16px;color: #757575;font-weight: 400;height: 70px;vertical-align: middle;padding: 20px 0;}
.check-box{width: 20px;height: 20px;cursor: pointer;accent-color: #222;}

.cart-table form table tbody tr {height: 100px;}
.cart-table form table tbody .empty td {padding: 150px 0;}
.cart-table form table tbody tr td {border-bottom: 1px solid #eee;font-size: 16px;padding: 16px 0;vertical-align: middle;text-align: center;margin-top: -1px;}
.cart-table form table tbody tr .item-image {padding: 16px 0;}
.cart-table form table tbody tr .item-image img {width: 100px;background-color: #f6f6f6;}
.cart-table form table tbody tr .item-text {text-align: left;padding: 16px 24px;}
.cart-table form table tbody tr .item-text > p:first-of-type {color: #222;font-size: 18px;}
.cart-table form table tbody tr .item-text > p:last-of-type {color: #757575;font-size: 16px;}
.cart-table form table tbody tr .item-amount > .amount-wrap .amount {background: none;width: 24px;height: 24px;}
.cart-table form table tbody tr .item-amount > .amount-wrap input[type="text"] {width: 50px;height: 24px;border: none;outline: none;text-align: center;font-size: 18px;}

.table-button{margin: 30px auto 48px auto;}
.table-button button{padding: 10px 16px;font-size: 14px;margin-right: 10px;}

.cart-total .total-wrap{padding: 24px 80px;background: #fafafa;}
.cart-total .total-wrap p{font-size: 18px;color: #757575;}
.cart-total .total-wrap p span{font-size: 22px;font-weight: 700;margin-left: 24px;color: #222;}

.cart-notice{margin: 24px auto 32px auto;}
.cart-notice p{color: #757575;font-size: 14px;}
.cart-notice p span{color: #18a957;}

.cart-button-wrap{justify-content: center;flex-wrap: wrap;}
.cart-button-wrap button{width: 240px;height: 70px;}
.cart-button-wrap button:first-child{margin-right: 20px;}

.amount-wrap .amount {background: none;width: 24px;height: 24px;}
.amount-wrap input[type="text"] {width: 50px;height: 24px;border: none;outline: none;text-align: center;font-size: 18px;}