@charset "UTF-8";

.flex {display:flex;justify-content: space-between;align-items: center;}
.flex.left {justify-content: flex-start;}
.flex.top {align-items:flex-start;}
.flex.right {justify-content: flex-end;}
.flex.center {justify-content: center;}


/*header*/
header .top-banner a {width:100%;padding:0 16px;display:inline-block;color:#fff;line-height:30px;font-size:14px;font-weight:300;min-height:32px;}

header .header-wrap {display:flex;justify-content: space-between;align-items: center;width:1272px;height:96px;margin:0 auto;padding:0 24px;border-bottom:1px solid #eee;}
header .header-wrap::after {content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background:#eee;}
header .header-wrap.no-bor {border-bottom:1px solid #fff;}
header .header-wrap.no-bor::after {content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background:#fff;}
header .left-menu {height:100%;}
header .left-menu .logo {display:inline-block;}
header .left-menu .top-menu {display:inline-block;height:100%;margin-left:70px;}
header .left-menu .top-menu > ul {height:100%;}
header .left-menu .top-menu > ul > li {height:100%;margin-bottom:-1px;}
header .left-menu .top-menu > ul > li > a {display:block;height:100%;color:#222; padding:38px 24px 0;}
header .left-menu .top-menu > ul > li > a:hover {color:#18a957;}

header .right-menu {display:block;height:100%;margin-left:auto;}
header .right-menu > ul {display:block;height:100%;}
header .right-menu > ul > li {display:inline-block;position:relative;height:100%;padding-top:36px;margin-bottom:-1px;}
header .right-menu > ul > li:nth-of-type(2) {margin:0 21px;}
header .right-menu ul li a {position:relative;}

header .main-menu:hover .drop-menu{display: block; box-shadow: none;}

header .drop-menu {position:absolute;display:none;left:0;top:99%;width:100%;background:#fff;z-index:10;box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);}
header .drop-menu .drop-menu-wrap {display:block;position:relative;margin:0 auto;width:1224px;}
header .drop-menu > div {border-top:none;padding:30px 0 24px 0;}

header .header-wrap .drop-menu .drop-menu-wrap ::before {content:'';display:inline-block;width:1272px;height:1px;position:absolute;top:0;margin-left:-24px;background:#eee;}
header .drop-menu ul li a.sub-menu {display:block;color:#222;margin-bottom:10px;font-weight:700;}
header .drop-menu ul.sub-sub-menu li a {display:block;color:#535353;font-size:14px;line-height:20px;padding:6px 0;letter-spacing: -0.34px;}
header .drop-menu ul.sub-sub-menu li a:hover {color:#18a957;font-size:14px;}
header .drop-menu ul.sub-sub-menu li a {display:block;color:#535353;font-size:14px;line-height:20px;padding:6px 0;letter-spacing: -0.34px;}
header .drop-menu ul.sub-sub-menu li a:hover {color:#18a957;font-size:14px;}


header .mypage-menu {display:none;position:absolute;;width:160px;top:95px;left:0;background:#fff;z-index:10;box-shadow:0px 10px 14px rgba(0,0,0,0.1);margin-left:-65px;}
header .mypage-menu ul {padding:24px 0 24px 54px;display:block;width:100%;border-top:1px solid #eee;}
header .mypage-menu ul li {display:block;}
header .mypage-menu ul li a {font-size:14px;line-height:32px;}
header .mypage-menu ul li a:hover {color:#18a957;}
header .right-menu ul li:hover .mypage-menu{display: block;}

/*footer*/

footer {display:block;position:relative;background:#000;margin-top:160px;}
footer * {color:#fff}
footer .footer-wrap {display:flex;justify-content:center;align-items:flex-start;padding:64px 0 64px 0;}
footer .footer-left {margin-right:220px;}
footer .footer-left .input-wrap {display:block;position:relative;width:392px;margin-bottom:0;}
footer .footer-left .input-wrap input {border:none;width:392px;height:32px;line-height:32px;background:#222;color:#949494;font-size:14px;padding:0 30px 0 7px;}
footer .footer-left .input-wrap button {position:absolute;right:7px;top:0;;background:#222;color:#fff;width:30px;height:32px;line-height:32px;border:none;cursor:pointer;font-size:14px;}
footer .footer-left > p {margin:12px 0 56px 0;letter-spacing: -0.39px;font-weight:300;line-height:22px;}
footer .footer-left .link {display:inline-block;margin-left:6px;border-bottom:1px solid #fff}
footer .footer-left .cscenter {display:flex;justify-content: flex-start;align-items: flex-start;}
footer .footer-left .cscenter li {display:inline-block;}
footer .footer-left .cscenter li:last-of-type {margin-left:44px;}
footer .footer-left .cscenter li * {display:block;font-weight:300;}
footer .footer-left .cscenter li strong {font-weight:500;}
footer .footer-left .cscenter li .email {margin-bottom:10px;font-weight:300;}
footer .footer-left .sns {margin-top:46px;}
footer .footer-left .sns li {display:inline-block;}

footer .footer-right .footer-menu {display:block;width:400px;margin:32px 0 25px 0;}
footer .footer-right .footer-menu li {display: inline-block;width:74px;margin:4px 0;}
footer .footer-right .footer-menu li:nth-of-type(3n - 1) {width:131px;margin:4px 54px;}
footer .footer-right .footer-menu li strong {font-weight:400;color:#fbe85e;}
footer .footer-right .footer-menu a {font-weight:300;}

footer .footer-right .notice li a {font-size:14px;line-height:22px;letter-spacing: -0.39px;font-weight:300}
footer .footer-right .notice li a span {display:inline-block;margin-right:5px;font-weight:300;}
footer .footer-right .notice li a .footer-ico {position:absolute;margin:5px 0 0 4px}
footer .footer-right .info *,
footer .footer-right .copyright {font-size:14px;color:#a7a7a7;line-height:22px;letter-spacing: -0.39px;font-weight:300;margin:0 6px;}
footer .footer-right .copyright {margin-top:10px;}

